<div class="list-container">
  <table>
    <tr>
      <td *ngFor="let header of headers">{{header}}</td>
    </tr>
    <tr *ngFor="let segment of data; let i = index" (click)="goSegmentDetail(i)">
      <td>{{segment.segmentNum}}</td>
      <td>{{segment.stake}}</td>
      <td>{{segment.usedStake}}</td>
      <td>{{segment.company}}</td>
      <td>{{segment.position}}</td>
      <td>{{segment.skNum}}</td>
      <td>{{segment.dbNum}}</td>
      <td>{{segment.pDirection}}</td>
      <td>{{segment.trend}}</td>
      <td>{{segment.pLength}}</td>
      <td>{{segment.pHeight}}</td>
      <td>{{segment.Lng}}</td>
      <td>{{segment.Lat}}</td>
    </tr>
  </table>
</div>

