<div class="content">
  <table>
    <tr>
      <td>道路名称</td>
      <td>{{roadInfo.roadName}}</td>
    </tr>
    <tr>
      <td>起讫桩号</td>
      <td>{{roadInfo.stakeNum}}</td>
    </tr>
    <tr>
      <td>曾用桩号</td>
      <td>{{roadInfo.usedStakeNum}}</td>
    </tr>
    <tr>
      <td>道路类型</td>
      <td>{{roadInfo.roadType}}</td>
    </tr>
    <tr>
      <td>所属省份</td>
      <td>{{roadInfo.province}}</td>
    </tr>
    <tr>
      <td>道路概况</td>
      <td>{{roadInfo.roadProfile}}</td>
    </tr>
  </table>
</div>
