<div class="left">
  <div class="jb-info">
    <div class="mp-container">
      <div class="title">基本信息</div>
      <div class="content">
        <app-curve-basic-info
          [index]="index"
          [cross]="cross"
          [selectedSite]="selectedSite"></app-curve-basic-info>
      </div>
    </div>
  </div>
  <div class="hole-sensor-list">
    <div class="mp-container">
      <div class="title">监测点和传感器列表</div>
      <div class="content">
        <app-hole-sensor-list
          [index]="index"
          [listIndex]="listIndex"
          [selectedSite]="selectedSite"
          (switchSite)="setSelectedSite($event)"
          (onHoleAndSensorChange)="iswhichShow=$event"></app-hole-sensor-list>
      </div>
    </div>
  </div>
  <div class="time-seletor">
    <div class="mp-container">
      <div class="title">时间选择</div>
      <div class="content">
        <app-time-selector></app-time-selector>
      </div>
    </div>
  </div>
</div>

<div class="right">
  <div class="hole-curve">
    <div class="mp-container">
      <div class="title">{{iswhichShow?'深部位移监测孔监测曲线':'深孔单个传感器监测曲线'}}</div>
      <div class="content">
        <div *ngIf="iswhichShow">
          <app-deep-hole-curve #holeCurve [siteName]="selectedSite"></app-deep-hole-curve>
        </div>
        <div *ngIf="!iswhichShow">
          <app-deep-hole-sensor-curve
            [selectedSite]="selectedSite"
          [selectedSensorIndex]=""></app-deep-hole-sensor-curve>
        </div>
      </div>
    </div>
  </div>
</div>
