<div class="left">
  <div class="jb-info">
    <div class="mp-container">
      <div class="title">基本信息</div>
      <div class="content">
        <app-curve-basic-info></app-curve-basic-info>
      </div>
    </div>
  </div>
  <div class="hole-sensor-list">
    <div class="mp-container">
      <div class="title">监测点和传感器列表</div>
      <div class="content">
        <app-hole-sensor-list></app-hole-sensor-list>
      </div>
    </div>
  </div>
  <div class="time-seletor">
    <div class="mp-container">
      <div class="title">时间选择</div>
      <div class="content">

      </div>
    </div>
  </div>
</div>

<div class="right">
  <div class="hole-curve">
    <div class="mp-container">
      <div class="title">深部位移监测孔监测曲线</div>
      <div class="content">

      </div>
    </div>
  </div>
</div>
