<div class="left">
  <div class="jcd-bzt">
    <div class="mp-container">
      <div class="title">监测点平面布置图</div>
      <app-arrangement-diagram></app-arrangement-diagram>
    </div>
  </div>

  <div class="jcdmt">
    <div class="mp-container">
      <div class="title">监测断面图</div>
      <app-cross-section-diagram></app-cross-section-diagram>
    </div>
  </div>

</div>

<div class="right">

  <div class="jc-info">
    <div class="mp-container">
      <div class="title">基础信息</div>
      <app-basic-info [segment]="segment"></app-basic-info>
    </div>
  </div>

  <div class="xc-pic">
    <div class="mp-container">
      <div class="title">现场照片</div>
      <app-site-photos></app-site-photos>
    </div>
  </div>

  <div class="dx-info">
    <div class="mp-container">
      <app-topographic-info [segment]="segment"></app-topographic-info>
    </div>
  </div>

  <div class="jx-info">
    <div class="mp-container">
      <div class="title">监测信息</div>
      <app-monitoring-info [index]="index"></app-monitoring-info>
    </div>
  </div>

  <div class="statics-info">
    <div class="mp-container">
      <div class="title">统计信息</div>
      <app-statistical-info [index]="index"></app-statistical-info>
    </div>
  </div>

</div>
