.mapContainer {
  width: 40%;
  height: 100%;
  position: relative;
  padding: 8px 0 8px 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}

#map {
  width: 100%;
  height: 100%;
  -moz-box-shadow: 6px 6px 6px #828282;
  -webkit-box-shadow: 6px 6px 6px #828282;
  box-shadow: 6px 6px 6px #828282;
}

#right {
  width: 60%;
  height: 100%;
  float: left;
}

#right:after {
  clear: both;
}

.road-info, .statics {
  width: 50%;
  height: 50%;
  float: left;
  padding: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.monitor-line-list {
  width: 100%;
  height: 50%;
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
  overflow: auto;
}

.road-info {
  padding-right: 4px;
  padding-bottom: 4px;
}

.statics {
  padding-left: 4px;
  padding-bottom: 4px;
}

.monitor-line-list {
  padding-top: 4px;
}

.mp-container {
  background-color: #fafafa;
  height: 100%;
  overflow: hidden;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-box-shadow: 6px 6px 6px #828282;
  -webkit-box-shadow: 6px 6px 6px #828282;
  box-shadow: 6px 6px 6px #828282;
  position: relative;
}

.title {
  background-color: skyblue;
  color: white;
  height: 36px;
  line-height: 36px;
  padding-left: 8px;
}


