<div id="map"></div>
<div id="right">
  <div class="road-info">
    <div class="mp-container">
      <div class="title">
        道路基本资料
      </div>
      <app-road-info></app-road-info>
    </div>
  </div>

  <div class="statics">
    <div class="mp-container">
      <div class="title">
        道路统计分析
      </div>
      <app-road-statics></app-road-statics>
    </div>
  </div>

  <div class="monitor-line-list">
    <div class="mp-container">
      <div class="title">
        监测段列表
      </div>
      <app-monitor-line-list></app-monitor-line-list>
    </div>
  </div>
</div>
