<div class="wrapper">
  <table>
    <tr>
      <td>所属道路</td>
      <td>玉溪至楚雄高速公路</td>
      <td>所属单位</td>
      <td>中铁开发投资有限公司</td>
    </tr>
    <tr>
      <td>边坡编号</td>
      <td>001</td>
      <td>曾用桩号</td>
      <td></td>
    </tr>
    <tr>
      <td>起讫桩号</td>
      <td>K37+445~K37+820</td>
      <td>位置</td>
      <td>右侧</td>
    </tr>
    <tr>
      <td>坡向(°)</td>
      <td>278</td>
      <td>走向(°)</td>
      <td>188</td>
    </tr>
    <tr>
      <td>坡长(m)</td>
      <td>567</td>
      <td>坡高(m)</td>
      <td>48</td>
    </tr>
    <tr>
      <td>经度(°)</td>
      <td>102.2429</td>
      <td>纬度(°)</td>
      <td>24.3926</td>
    </tr>
  </table>
</div>
