<div class="wrapper">
  <table>
    <tr>
      <td>所属道路</td>
      <td>{{segment.roadName}}</td>
      <td>所属单位</td>
      <td>{{segment.company}}</td>
    </tr>
    <tr>
      <td>边坡编号</td>
      <td>{{segment.segmentNum}}</td>
      <td>曾用桩号</td>
      <td>{{segment.usedStake}}</td>
    </tr>
    <tr>
      <td>起讫桩号</td>
      <td>{{segment.stake}}</td>
      <td>位置</td>
      <td>{{segment.position}}</td>
    </tr>
    <tr>
      <td>坡向(°)</td>
      <td>{{segment.pDirection}}</td>
      <td>走向(°)</td>
      <td>{{segment.trend}}</td>
    </tr>
    <tr>
      <td>坡长(m)</td>
      <td>{{segment.pLength}}</td>
      <td>坡高(m)</td>
      <td>{{segment.pHeight}}</td>
    </tr>
    <tr>
      <td>经度(°)</td>
      <td>{{segment.Lng}}</td>
      <td>纬度(°)</td>
      <td>{{segment.Lat}}</td>
    </tr>
  </table>
</div>
