<div class="content">
  <div class="left">
    <div class="pie">
      <div echarts [options]="chartOption" style="height: 100%; width: 100%;"></div>
    </div>
    <div class="bar">
      <div echarts [options]="chartOption3" style="height: 100%; width: 100%;"></div>
    </div>
  </div>
  <div class="right">
    <div class="pie">
      <div echarts [options]="chartOption2" style="height: 100%; width: 100%;"></div>
    </div>
    <div class="bar">
      <div echarts [options]="chartOption4" style="height: 100%; width: 100%;"></div>
    </div>
  </div>
</div>
