<div class="content-container">
  <swiper class="swiper-container"></swiper>
  <div class="swiper-container" [disabled]="disabled" [swiper]="config" (indexChange)="onIndexChange($event)"
       (swiperTransitionStart)="onSwiperEvent('transitionStart')"
       (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div echarts [options]="chartOption" style="height: 100%; width: 100%;"></div>
      </div>
      <div class="swiper-slide">
        <div echarts [options]="chartOption2" style="height: 100%; width: 100%;"></div>
      </div>
      <div class="swiper-slide">
        <div echarts [options]="chartOption3" style="height: 100%; width: 100%;"></div>
      </div>
      <div class="swiper-slide">
        <div echarts [options]="chartOption4" style="height: 100%; width: 100%;"></div>
      </div>
    </div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
